<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' 
    href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css' />
  </head>
  <body class= 'container p-3'>
    <h1><%= title %></h1>
    <p class='h4'><%- message %></p>
    <form method="POST" action="/detail">
        <div class='form-group'>
            <label for='date'>日付</label> 
            <input type="datetime-local" class='form-control' name='date' required>
        </div>
        <div class='form-group'>
            <label for='route'>経路</label> 
            <input type="text" class='form-control' name='routeStart' id='routeStart' required>
            <p>～</p>
            <input type="text" class='form-control' name='routeGoal' id='routeGoal' required>
        </div>
        <div class='form-group'>
            <label for='route'>経由地</label> 
            <input type="text" class='form-control' name='routeWaypoint' id='routeWaypoint'>
        </div>
        <div>
            <input type="submit" value="検索">
            <!--<button onclick="searchPrice()" class="btn btn-primary">調べよう</button>-->
        </div>
    </form>
        <div class='form-group'>
            <label for='way'>手段</label> 
            <select id='way'>
                <option>電車</option>
                <option>バス</option>
                <option>タクシー</option>
                <option>その他</option>
            </select>
        </div>
        <div class='form-group'>
            <label for='price'>単価</label> 
            <p id='price'><%- price%> </p>
        </div>
        <div class='form-group'>
            <label for='times'>回数</label> 
            <input type="text" class='form-control' id='times'>
        </div>
        <div class='form-group'>
            <label for='memo'>メモ</label> 
            <input type="text" class='form-control' id='memo'>
        </div>
        <div>
            <input type="submit" id="btn-delete" value="削除" />
            <input type="submit" id="btn-save" value="保存" />
        </div>
    <!--<script type="text/javascript">

        'use strict'
        function searchPrice(){

            //入力された情報を取得
            const routeStart = document.getElementById('routeStart').value;
            const routeGoal = document.getElementById('routeGoal').value;
            const routeWaypoint = document.getElementById('routeWaypoint').value;

            let baseUrl = 'https://api.ekispert.jp/v1/json/';
            let seachUrl = 'search/course/extreme?';   

            let accessKey = 'key=test_VtL3kuyWkrB';
            let station ='&viaList=22991:22828'; //+routeStart +':' +routeWaypoint +':' +routeGoal;

            let stationUrl = `${baseUrl}${seachUrl}${accessKey}${station}`; 

            fetch(stationUrl)
            .then(res =>{
                console.log('成功');
                //document.getElementById('price').textContent = res.ResultSet.Course.Price.Oneway;
                })
            .catch(err =>{
                console.log('失敗')
            });
        }
    </script>-->
  </body>
</html>
=======
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' 
    href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css' />
  </head>
  <body class= 'container p-3'>
    <h1><%= title %></h1>
    <p class='h4'><%- message %></p>
    <form method="POST" action="/detail">
        <div class='form-group'>
            <label for='date'>日付</label> 
            <input type="datetime-local" class='form-control' name='date' required>
        </div>
        <div class='form-group'>
            <label for='route'>経路</label> 
            <input type="text" class='form-control' name='routeStart' id='routeStart' required>
            <p>～</p>
            <input type="text" class='form-control' name='routeGoal' id='routeGoal' required>
        </div>
        <div class='form-group'>
            <label for='route'>経由地</label> 
            <input type="text" class='form-control' name='routeWaypoint' id='routeWaypoint'>
        </div>
        <div>
            <input type="submit" value="検索">
            <!--<button onclick="searchPrice()" class="btn btn-primary">調べよう</button>-->
        </div>
    </form>
        <div class='form-group'>
            <label for='way'>手段</label> 
            <select id='way'>
                <option>電車</option>
                <option>バス</option>
                <option>タクシー</option>
                <option>その他</option>
            </select>
        </div>
        <div class='form-group'>
            <label for='price'>単価</label> 
            <p id='price'><%- price%> </p>
        </div>
        <div class='form-group'>
            <label for='times'>回数</label> 
            <input type="text" class='form-control' id='times'>
        </div>
        <div class='form-group'>
            <label for='memo'>メモ</label> 
            <input type="text" class='form-control' id='memo'>
        </div>
        <div>
            <input type="submit" id="btn-delete" value="削除" />
            <input type="submit" id="btn-save" value="保存" />
        </div>
    <!--<script type="text/javascript">

        'use strict'
        function searchPrice(){

            //入力された情報を取得
            const routeStart = document.getElementById('routeStart').value;
            const routeGoal = document.getElementById('routeGoal').value;
            const routeWaypoint = document.getElementById('routeWaypoint').value;

            let baseUrl = 'https://api.ekispert.jp/v1/json/';
            let seachUrl = 'search/course/extreme?';   

            let accessKey = 'key=test_VtL3kuyWkrB';
            let station ='&viaList=22991:22828'; //+routeStart +':' +routeWaypoint +':' +routeGoal;

            let stationUrl = `${baseUrl}${seachUrl}${accessKey}${station}`; 

            fetch(stationUrl)
            .then(res =>{
                console.log('成功');
                //document.getElementById('price').textContent = res.ResultSet.Course.Price.Oneway;
                })
            .catch(err =>{
                console.log('失敗')
            });
        }
    </script>-->
  </body>
</html>
