<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <h1>移動パターン登録</h1>
    <form action="/pattern" method="post">
      <div class="container">
        <table class="table">
            <p>パターン名<br>
            <input type="text" name="pattern" size="10"></p>
            <p>出発地<br>
            <input type="text" name="origin" size="10"></p>
            <p>到着地<br>
            <input type="text" name="destination" size="10"></p>
            <p>金額<br>
            <input type="text" name="money" size="10"></p>
            <p>移動手段<br>
            <select name="method"><br>
                <option value="train">電車</option>
                <option value="bus">バス</option>
                <option value="taxi">タクシー</option>
                <option value="other">その他</option>
            </select><br>
          </div>
    </form>
    <input type="submit">
    <hr>
    <div class="container">
    <h1>パターン一覧</h1>
    <table border="0">
      <tr>
        <th>パターン名</th>
        <th>出発地</th>
        <th>到着地</th>
        <th>金額</th>
      </tr>
      <% for(let i in datas) { %>
      <tr>
        <td><%=　datas[i].pattern  %></td>
        <td><%=　datas[i].origin  %></td>
        <td><%=　datas[i].destination  %></td>
        <td><%=　datas[i].money  %></td>
        <td><button>編集</button></td>
        <td><button>削除</button></td>
      </tr>
      <% } %>
      </table>
    </div>
  </body>
</html>